<h1>Pirate</h1>
<p>
  Name: <%= @pirate.name %><br>
  Weight: <%= @pirate.weight %><br>
  Height: <%= @pirate.height %>
</p>

<h2>Ship #1</h2>
<p>
  Name: <%= @ships[0].name %><br>
  Type: <%= @ships[0].type %><br>
  Booty: <%= @ships[0].booty %>
</p>

<h2>Ship #2</h2>
<p>
  Name: <%= @ships[1].name %><br>
  Type: <%= @ships[1].type %><br>
  Booty: <%= @ships[1].booty %>
</p>
